html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-family: "Inter", sans-serif;
}

form label {
    line-height: 1.5;
}

form h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

#h2-underline {
    width: 60px;
    height: 1.5px;
    background-color: rgb(193, 0, 0);
    border: none;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    border-radius: 2px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    padding: 5vh 0 10vh 0;
    margin: 0 20vw 20vh 20vw;
    box-sizing: border-box;
    border: #000 1px solid;
    border-radius: 30px;
}

#address-group {
    display: none;
}

.req {
    color: red;
    font-size: 14px;
}

form input, form textarea {
    width: 50vw;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top:5px;
}

#name-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fname, #lname {
    width: 24vw;
    margin-right: 2vw;
}

form textarea {
    min-width: 50vw;
    max-width:50vw;
    min-height: 30vh;
}

form #submit-btn {
    color: white;
    background-color: rgb(204, 0, 0);
}

form #submit-btn:hover {
    background-color: rgb(160, 0, 0);
    cursor: pointer;
}

header{
    background-color:white;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px;
    box-shadow:1px 1px 20px rgba(0, 0, 0, 0.105);
    position:fixed;
    width:100%;
}

.logoA{
    width:4%;
    text-decoration:none;
    color:black;
    display:flex;
    align-items:center;
}

.logoA h1{
    padding:0 10px;
}

.logo{
    width:100%;
    height:auto;
}

.list{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:30vw;
    font-size:18px;
    margin-right:50px;
}

.list a{
    padding:14px 30px;
    cursor:pointer;
    transition:.3s;
    text-decoration:none;
}

.list a:not(.buttonThing) {
    color:black;
}

.list a:hover:not(.buttonThing){
    color:rgb(144, 144, 144);
}

.buttonThing{
    background-color:rgb(190, 0, 0);
    border-radius:50px;
    color:white;
}

.buttonThing:hover{
    background-color:rgb(128, 0, 0);
}

main {
    padding-top: 15vh;
    min-height: 93vh;
    width: 100%;
}

footer {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(128, 0, 0);
    color: #fff;
    border-top: 2px solid #000;
}

.footer-text {
    font-size: 15px;
    font-weight:300;
}

#php-confirm h3 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}